body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}

/*styles for form*/
#frm1{
	width:800px;
	margin:0 auto;
	padding:10px;
	border:1px solid black;
	 background-color: #F7F7F7;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F9F9F9);
    background-repeat: repeat-x;
	 border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}	
fieldset{
	border:none;
	border-top:1px solid grey;
}
.row {
    margin-bottom: 0.85em;
    position: relative;
}
.row .label {
    display: inline-block;
    text-align: right;
    width: 11.8em;
	  vertical-align: top;
}
.label {
    color: #505050;
    font-size: 100%;
    padding-right: 4px;
	font-weight:600;
}
.row div {
    display: inline-block;
}
input{
	width:150px;
	height:25px;
	text-indent:16px;
	border:1px solid grey;
	border-radius:3px;
}
#profile input{
	width:190px;
	height:100%;
	text-indent:0;
	border:none;
}
.dotline {
    border-top: 1px solid #D6D6D6;
    height: 1px;
    margin-bottom: 10px;
    margin-top: 0.5em;
    width: 80%;
}
h2{
	text-align:center;
	color:#9900CC;
	text-decoration:underline;
	text-shadow:2px 2px white;
}
h3{
	font-style:italic;
	font-size:18px;
	color:#6666FF;
	margin-top:10px;
}
#username,#firstname,#lastname{
	background:url(../images/user.png) left no-repeat;
}
#profilepic{
	background: url(../images/image.png) left no-repeat;
	
}

#gender input,#hobbies input{
	height:10px;
}

#password{
	background:url(../images/lock.png) left no-repeat;
}
#dobFld input{
	height:18px;
	width:70px;
	background: none repeat scroll 0 0 transparent;
	text-indent:3px;
}

#phone{
	background:url(../images/phone.png) left no-repeat;
}
#sub{
	width:80px;
	font-size:18px;
	height:100%;
	text-indent:0;
	vertical-align:middle;
	text-align:center;
	background:#006DCC;
	color:#FFFFFF;
	border-radius:5px;
}
input:focus{
	border-color: #66CCFF;
	border-width:2px;
}

#frm1 label.error,#frm4 label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
	color:red;
	font-style: italic;
	border-radius:10px;
	padding:2px 5px;
	}
#frm1 #profile label.error{
	margin-left:50px !important;
}

#frm1 #hobbies label.error{
	right:100px;
	position:absolute;
}

#hobbies span{
	width:100px;
	display:inline-block;
}

/*styles for progress bar*/
.progress.active .bar {
    -moz-animation: 2s linear 0s normal none infinite progress-bar-stripes;
}
.progress .bar {
    -moz-box-sizing: border-box;
    -moz-transition: width 0.6s ease 0s;
    background-color: #0E90D2;
    background-image: -moz-linear-gradient(center top , #149BDF, #0480BE);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    font-size: 12px;
    height: 18px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: 0;
}

.progress-striped .bar {
    background-color: #149BDF;
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
    background-size: 40px 40px;
}

.progress .bar {
    -moz-box-sizing: border-box;
    -moz-transition: width 0.6s ease 0s;
    background-color: #0E90D2;
    background-image: -moz-linear-gradient(center top , #149BDF, #0480BE);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    font-size: 12px;
    height: 18px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: 0;
}

.progress {
    background-color: #F7F7F7;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F9F9F9);
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 18px;
    margin-bottom: 18px;
    overflow: hidden;
}

#top span{
	font-size:20px;
	color: #CC6666;
	margin-top:-4px;
	font-weight:bold;
	float:left;
}
#top #per{
	margin-left:7px;
	color:blue;
	font-size:18px;
}
.row div{
	margin-left:10px;
}

/*styles for alert box*/
.alert {
    background-color: #CDE9AF;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #009900;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}
button.close {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.alert .close {
    line-height: 20px;
    position: relative;
    right: -21px;
    top: -2px;
}